@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== Base Layer: CSS Variables, Body, Borders ==== */
@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 10;
    --secondary:0 0% 50%;
    --secondary-foreground: 0 0% 50%;
    --muted: #e5e7eb;
    --button: 0 0% 10%;
    --border: #e5e7eb;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans bg-background text-foreground text-base;
    font-weight: 400;
  }
}

/* ==== Components Layer: Reusable Classes ==== */
@layer components {
  .section-outer {
    @apply py-16;
  }
  .section-outer--page {
    @apply py-20 pt-32;
  }
  .btn {
    @apply bg-button hover:bg-button/80 text-primary-foreground py-2 px-4 rounded-full;
  }
  .section-title {
    @apply text-xl md:text-2xl lg:text-3xl font-bold text-center mb-4;
  }
  .section-subtitle {
    @apply text-sm md:text-md lg:text-lg font-semibold mb-4;
  }
  .page-box {
    @apply relative m-auto w-[70%] max-w-7xl min-h-[60vh] max-h-[100vh] bg-background/20 backdrop-blur-sm p-8 rounded-xl shadow-lg border border-background/30 flex flex-col;
  }
}

@layer utilities {
  .underlink {
    position: relative;
    cursor: pointer;
  }
  .underlink::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 3px;
    width: 0;
    height: 1px;
    background: currentColor;
    transition: all 0.3s;
    transform: translateX(-50%);
  }
  .underlink:hover::after {
    left: 50%;
    width: 60%;
    height: 1px;
    transform: translateX(-50%);
  }
}